@model User
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h1>Registrasi</h1>


            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12">


                    <form method="post">

                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <div class="alert alert-info">
                                <strong>Alert ! </strong>Untuk Pengguna Jasa silahkan diisi Nama Perusahaan
                            </div>
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <div class="alert alert-info">
                                <strong>Alert ! </strong>Password menggunakan kombinasi Huruf besar, kecil, Angka, dan  Simbol (ex: !#$%&*) dan minimal 6 karakter
                            </div>
                            <input asp-for="Password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="NIP"></label>
                            <div class="alert alert-info">
                                <strong>Alert ! </strong>Untuk pengguna jasa silahkan diisi Nomor Handphone yang aktif
                            </div>
                            <input asp-for="NIP" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Jabatan"></label>
                            <div class="alert alert-info">
                                <strong>Alert ! </strong>Untuk pengguna jasa silahkan diisi bagian atau jabatan / nama bagian (ex: bagian draf dokumen / staff lapangan)
                            </div>
                            <input asp-for="Jabatan" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Penempatan"></label>
                            <div class="alert alert-info">
                                <strong>Alert ! </strong>Untuk pengguna jasa silahkan diisi PPJK / Importir / Eksportir dsb
                            </div>
                            <input asp-for="Penempatan" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-primary">Create</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
