@model WBKNET.Models.Proker.Office.Bongkar

@{
    ViewData["Title"] = "Edit";
     Layout = "_LayoutLTEOffice";
}

<div class="card">
    <div class="card-body">
        <div class="row">
    <div class="col-md-8">
        <form asp-action="SelesaiP2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BongkarID" />
            <div class="form-group">
                <label asp-for="NomorBC11" class="control-label"></label>
                <input disabled asp-for="NomorBC11" class="form-control" />
                <span asp-validation-for="NomorBC11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalBC11" class="control-label"></label>
                <input disabled asp-for="TanggalBC11" class="form-control" />
                <span asp-validation-for="TanggalBC11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaSarkut" class="control-label"></label>
                <input disabled asp-for="NamaSarkut" class="form-control" />
                <span asp-validation-for="NamaSarkut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoBL" class="control-label"></label>
                <input disabled asp-for="NoBL" class="form-control" />
                <span asp-validation-for="NoBL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalBL" class="control-label"></label>
                <input disabled asp-for="TanggalBL" class="form-control" />
                <span asp-validation-for="TanggalBL" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Bruto" class="control-label"></label>
                <input disabled asp-for="Bruto" class="form-control" />
                <span asp-validation-for="Bruto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input disabled asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Alasan" class="control-label"></label>
                <input disabled asp-for="Alasan" class="form-control" />
                <span asp-validation-for="Alasan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
    </div>
</div>




