@model ProjectAlpha.Models.P2kp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>P2kp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="P2kpID" />
            <div class="form-group">
                <label asp-for="Judul" class="control-label"></label>
                <textarea asp-for="Judul" class="form-control"></textarea>
                <span asp-validation-for="Judul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tanggal" class="control-label"></label>
                <input asp-for="Tanggal" class="form-control" />
                <span asp-validation-for="Tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JamMulai" class="control-label"></label>
                <input asp-for="JamMulai" class="form-control" />
                <span asp-validation-for="JamMulai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JamSelesai" class="control-label"></label>
                <input asp-for="JamSelesai" class="form-control" />
                <span asp-validation-for="JamSelesai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tempat" class="control-label"></label>
                <input asp-for="Tempat" class="form-control" />
                <span asp-validation-for="Tempat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NarsumID" class="control-label"></label>
                <select asp-for="NarsumID" class="custom-select" asp-items="ViewBag.NarsumID">
                    <option value="">-- Select--</option>
                </select>
                <span asp-validation-for="NarsumID" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

