@model WBKNET.Models.Proker.Dash.TopLokasi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TopLokasi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TopLokasiID" />
            <div class="form-group">
                <label asp-for="Bulan" class="control-label"></label>
                <input asp-for="Bulan" class="form-control" />
                <span asp-validation-for="Bulan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JumlahPIB" class="control-label"></label>
                <input asp-for="JumlahPIB" class="form-control" />
                <span asp-validation-for="JumlahPIB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BM" class="control-label"></label>
                <input asp-for="BM" class="form-control" />
                <span asp-validation-for="BM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LapYearID" class="control-label"></label>
                <select asp-for="LapYearID" class="form-control" asp-items="ViewBag.LapYearID"></select>
                <span asp-validation-for="LapYearID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

